
  .parent_login>h4{
    text-align: center;
    color:darkgrey;
  }
  
  .link-btn{
    display: block;
    text-align: center;
    background: none;
    color: #424242;
    text-decoration: underline;
  }

  .form_input{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form_input input{
    border:0.1em double whitesmoke;
    width: 90%;
    border-radius: 1em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    padding: 0.5em;
    box-shadow: 0.05em 0.06em 0.04em 0.05em grey ;
    outline: none;
}

.form_input button{
    display: block;
    width:50%;
    border:0.1em double whitesmoke;
    height: 2.2em;
    background-color: rgb(92, 187, 92);
    border-radius:1em ;
    box-shadow: 0.05em 0.06em 0.04em 0.05em grey ;
    outline: none;
    margin: auto;
    
}

.form_input button:hover{
    border-color:wheat;
    background-color: green;
}